.music-list {
    width: 70%;
    height: 100%;
    &__button {
        margin: 5px;
        padding: 10px;
        border-radius: 5px;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
        font-family: "Robotica";
    }
    &__card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        width: 70rem;
        height: 100%;
        padding-left: 5rem;
        padding-right: 5rem;
    }

}
